{% extends 'base.html' %} {% block header %}

<body>
  <div class="wrapper">
<h4>Add Recipe</h4>
<div class="row">
    <form action="{{ url_for('insert_recipe') }}" method="POST"  class="col s12">
        <div class="row">
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">poll</i>
                    <select id="category" name="category_name">
                  <option value="" disabled selected>Choose Category</option>
                  {% for cat in categories %}
                      <option value="{{cat.category_name}}">{{cat.category_name}}</option>
                  {% endfor %}
                </select>
                    <label>Recipe Category</label>
                </div>
            </div>
            <div class="input-field col s12">
                <i class="material-icons prefix">assignment</i>
                <input id="recipe_name" name="recipe_name" type="text">
                <label for="icon_prefix">Recipe Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">local_grocery_store</i>
                <textarea name="ingredients" id="ingredients" class="materialize-textarea"></textarea>
                <label for="icon_telephone">Ingredients</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix ">local_dining</i>
                <textarea name="method" id="method" class="materialize-textarea"></textarea>
                <label for="icon_telephone">Method</label>
            </div>
        </div>
        
        
        <div class="row">
            <button class="btn waves-effect waves-light light-green lighten-1" type="submit" name="action">Add Recipe
                <i class="material-icons right">playlist_add</i>
             </button>
        </div>
    </form>
</div>
<div class="push"></div>
  </div>
  <footer class="footer"></footer>
</body>

{% endblock %}
{% block footer %} {% endblock %}