{% extends 'base.html'%} {% block content %}

<table>
        <thead>
          <tr>
              <th>Name</th>
              <th>Category</th>
              <th>Ingredients</th>
              <th>Method</th>
              <th>Edit/Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{recipe.recipe_name}}</td>
            <td>{{recipe.category_name}}</td>
            <td>{{recipe.ingredients}}</td>
            <td>{{recipe.method}}</td>
            <td><a href="{{url_for('edit_recipe', recipe_id=recipe._id)}}" class="waves-effect waves-light btn btn_small indigo lighten-2">Edit</a></td>
            <td><a href="{{url_for('delete_recipe', recipe_id=recipe._id)}}" class="waves-effect waves-light btn btn_small red lighten-2">Delete</a></td>
          </tr>


</tbody>
      </table>






{% endblock %}